/* your root variables and body styles */

nav {
  position: sticky;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding: 0;
  top: 0;
  height: 90px;
  background-color: var(--ceramic);
  z-index: 100; /* Ensure the nav bar stays on top */
}

/* your nav styles */

main .hero-page {
  position: relative;
  width: 100%; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
}

.main .background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .welcome-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Background overlay color */
}

.main .welcome-text {
  /* your welcome text styles */
}

.main .button {
  /* your button styles */
}
