/* style guide */

:root {
  --black: rgba(0, 0, 0, 1);
  --masala: rgba(64, 62, 62, 1);
  --granite-gray: rgba(106, 104, 104, 1);
  --oriental-pink: rgba(206, 143, 143, 1);
  --snuff: rgba(218, 217,241, 1);
  --cultured-pearl: rgba(245, 245, 245, 1);
  --ceramic: rgba(253, 253, 249, 1);
  --white: rgba(255, 255, 255, 1);
  --snuff-dark: #6d5cb8;

  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 25px;
  --font-size-xl: 26px;
  --font-size-xxl: 30px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 44px;
}

/* classes */
* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0;
  transition:  .2s linear;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0; 
}

body { 
  background-color: var(--ceramic);
  padding: 0;
  margin: 40px; 
}

.button{
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  height: 80px;
  width: 260px;
  border: none;
  outline: none;
  background: var(--snuff);
  font-weight: 600;
  color: var(--black);
  font-size: 20px;
  border-radius: 10px;
}

/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 5px;
  padding: 66px;
  border: 1px solid #888;
  width: 50%;
  max-height: 600px; /* Set the desired maximum height */
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Form styles (customize as needed) */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, .dropdown {
  margin: 20px 0;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input .yourText {
  width: 300px; 
  height: 100px;
}

.modal-content button {
  background-color: var(--snuff);
  color: var(--black);
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: var(--snuff-dark);
  color: white;
}

.modal-content p { 
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--masala);
  padding-bottom: 20px;
  width: 100%;
  line-height: 32px;
}

.header {
  background-color: var(--ceramic);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  height: 73px;
  margin-left: 20%;
}

.header ul{
  height: 100%;
  display: flex;
  position: relative;
  list-style: none;
  align-items: center;
  padding: 0;
  flex-direction: row;
}

.header .sub-nav {
  display: flex;
  align-items: center;
  margin: 0 40px;
}

.header ul li {
  display:  inline-block;
  margin: 15px;
}

.header ul a {
  font-weight: 500;
  color: var(--masala);
  font-size: 18px;
}

.header ul a:hover {
  color: var(--oriental-pink); /* Change the color when hovered */
}

.header .scrolled {
  background-color: #fff; /* Change to your desired background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a shadow */
  color: #333; /* Change text color */
  transition: 0.3s; /* Add smooth transition effect */
}

.header .emergency-call {
  position: relative;
  height: 90px;
  width: 280px;
}

.header .ic-baseline-phone {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 30px;
  left: 24px;
}

.header .button-content-text {
  position: absolute;
  height: 73px;
  top: 15px;
  left: 73px;
}

.header .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  z-index: 100;
}

.header .text-wrapper-3 {
  position: absolute;
  top: 42px;
  left: 0;
  font-weight: 500;
  color: var(--masala);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.toggle_btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-right: 3%;
}

.close_btn{
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-right: 3%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%; 
  align-items: center;
  flex: 0 0 auto;
}

main.container {
  position: relative;
  width: 100%;
}

main.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1;
}

main .container img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
}

main .welcome-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 0;
  width: 660px;
  top: 35%;
  left: 15%;
}

main .welcome-text {
  position: relative;
  width: 755px;
  height: 370px;
  margin-right: -4px;
  
}

main .text-1 {
  position: absolute;
  width: 660px;
  top: 60px;
  left: 50px;
  font-weight: 600;
  color: var(--black);
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

main .p {
  position: absolute;
  width: 660px;
  top: 200px;
  left: 50px;
  font-weight: 500;
  color: var(--black);
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}



.about-us-1 {
  max-width: 100%;
  height: 950px;
  display: flex;
  position: relative;
  top: 90px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Hide overflow to prevent compression */
}

.about-us-1 .left-pane {
  position: absolute;
  float: left;
  width: 50%;
  height: 100%; /* Set height to 100% to cover half of the container */
  left: 0;
  background-image: url("./img/about_us.png"); 
  background-size: cover; /* Cover the container without compression */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent image repetition */
}

.box {
  width: 50%;
  height: 100%;
  margin-left: auto;
  padding: 45px;
  text-align: center;
  justify-content: center;
  background: white; /* Set background to white */
   /* Add shadow effect */
}

.box .about-us-content {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.box .about-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: relative;
}

.box .about-us-heading {
  display: flex;
  position: relative;
  width: 600px;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
}

.box .betterlife-home {
  width: 500px;
  font-weight: 600;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper {
  color: #d99abb;
}

.box .span {
  color: var(--black);
}

.line {
  position: absolute;
  width: 90px;
  height: 3px;
  left: 0;
}

.box .about-us-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.box .div {
  position: relative;
  height: auto;
  font-weight: 400;
  color: var(--masala);
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.box .our-mission {
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-2 {
  position: relative;
  font-weight: 600;
  color: var(--black);
  font-size: 26px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 37px;
}

.box .p {
  position: relative;
  font-weight: 400;
  color: var(--masala);
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.about-us-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  position: relative;
  top: 180px;
}

.about-us-2 .div-2 {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.about-us-2 .left-content-heading {
  position: relative;
  width: 500px;
  height: 55px;
  margin-right: -2px;
}

.about-us-2 .text-wrapper-5 {
  position: absolute;
  width: 390px;
  top: 0;
  left: 107px;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us-2 .line {
  width: 90px;
  height: 3px;
  top: 26px;
  position: absolute;
  left: 0;
}

.about-us-2 .text-wrapper-6 {
  position: relative;
  width: 500px;
  font-weight: 400;
  color: #403e3e;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.about-us-2 .right-side {
  position: relative;
  width: 861px;
  height: 804.71px;
}

.about-us-2 .point {
  width: 600px;
  top: 495px;
  left: 0;
  position: absolute;
  height: 234px;
}

.about-us-2 .point-body {
  position: absolute;
  width: 600px;
  height: 180px;
  top: -5px;
  gap:20px;
  left: 0;
}

.about-us-2 .overlap-group-2 {
  position: relative;
  width: 750px;
  height: 250px;
  left: -5px;
  background-image: url(./img/purple-rec.svg);
  background-size: 100% 100%;
}

.about-us-2 .text-wrapper-7 {
  position: absolute;
  width: 600px;
  top: 45px;
  left: 100px;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.about-us-2 .text-wrapper-8 {
  position: absolute;
  width: 600px;
  top: 0;
  left: 96px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.about-us-2 .point-2 {
  width: 600px;
  top: 240px;
  left: 50px;
  position: absolute;
  height: 234px;
}

.about-us-2 .overlap-group-wrapper {
  position: absolute;
  width: 600px;
  height: 180px;
  top: -117px;
  left: 0;
}

.about-us-2 .we-understand-that-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  top: 45px;
  height: 400px;
  left: 4px;
  background-image: url(./img/grey-rec.svg);
  background-size: 100% 100%;
}

.about-us-2 .we-understand-that {
  width: 650px;
  left: 100px;
  color: var(--black);
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.about-us-2 .text-wrapper-9 {
  position: absolute;
  width: 600px;
  top: 0;
  left: 104px;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.about-us-2 .overlap-group-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 250px;
  background-image: url(./img/purple-rec.svg);
  background-size: 100% 100%;
  
}

.about-us-2 .text-wrapper-10 {
  position: absolute;
  width: 600px;
  left: 100px;
  font-weight: 500;
  color: var(--masala);
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.about-us-2 .text-wrapper-11 {
  position: absolute;
  width: 600px;
  top: 0;
  left: 100px;
  font-weight: 500;
  color: var(--black);
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

 .our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  top: 180px;
  position: relative;
  flex: 0 0 auto;
}

.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  flex: 0 0 auto;
}

.our-services .line-2 {
  position: relative;
  width: 90px;
  height: 3px;
}

.OS_links {
  text-decoration: none;
  color: var(--black);
}

.our-services .text-wrapper-12 {
  position: relative;
  width: 420px;
  height: 56px;
  margin-top: -1px;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.our-services .our-services-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 98px;
  top: -40px;
  position: relative;
  flex: 0 0 auto;
}

.our-services .frame-2 {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  justify-content: center;
  max-width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.our-services .image {
  position: relative;
  max-width: 50%;
  max-height: 100%;
  height: 550px;
  object-fit: cover;
}

.our-services .frame-card {
  position: relative;
  width: 50%;
  height: 550px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-services .frame-text-group {
  position: relative;
  width: 650px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-services .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  top: 285px;
  position: absolute;
  left: 0;
}

.our-services .pecks {
  width: 650px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.our-services .div-3,
.our-services .div-3_2 {
  display: inline-flex;
  gap: 30px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.our-services .item {
  display: flex;
  width: 260px;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.icon-park-solid {
  position: relative;
  width: 30px;
  height: 30px;
}

.our-services .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  text-align: center;
  color: #403e3e;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}

.text-wrapper-40 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  text-align: center;
  color: #403e3e;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}


.item-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.our-services .right-wing {
  display: flex;
  flex-direction: column;
  width: 307px;
  align-items: flex-start;
  gap: 27px;
  position: relative;
}

.our-services .text-wrapper-14 {
  position: relative;
  width: fit-content;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}

.our-services .text-2 {
  height: 263px;
  top: 0;
  position: absolute;
  left: 0;
}

.our-services .body-heading {
  position: absolute;
  width: 650px;
  top: -15px;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.our-services .body-text {
  position: absolute;
  width: 650px;
  top: 30px;
  left: 0;
  font-weight: 400;
  color: #403e3e;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 40px;
}

.our-services .left-wing {
  display: flex;
  width: 280px;
  gap: 27px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.other-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 240px;
  gap: 70px;
  position: relative;
  flex: 0 0 auto;
}

.other-services-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.text-3 {
  position: relative;
  width: 227px;
  height: 44px;
  margin-top: -1px;
  font-weight: 500;
  color: #6a6868;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}

.text-4 {
  position: relative;
  width: 284px;
  height: 56px;
  margin-top: -1px;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

 .other-services-body {
  position: relative;
  width: 1200px;
  height: 362px;
  justify-content: center;
  background-color: #f5f5f5;
}

.frame-3 {
  display: flex;
  align-items: flex-start;
  gap: 73px;
  position: relative;
  top: 90px;
  justify-content: center;
}

.wings {
  display: flex;
  gap: 20px;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.contact-us {
  top: 340px;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #00000069;
  display: flex;
  align-items: center; /* Center vertically within the viewport */
  justify-content: center; /* Center horizontally within the viewport */
  overflow: hidden;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.text-5 {
  position: relative;
  width: 980px;
  height: 70px;
  margin-top: -1px;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.contact-us .button-content-wrapper {
  position: relative;
  width: 300px;
  height: 90px;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.contact-us .ic-baseline-phone {
  position: relative;
  width: 34px;
  height: 34px;
  top: 24px;
  left: 5px;
}

.contact-us .button-content {
  display: flex;
  gap: 20px;
  position: relative;
  top: 8px;
  left: 50px;
}

.contact-us .button-text {
  position: relative;
  width: 190px;
  height: 79px;
}

.text-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}

.text-7 {
  position: absolute;
  top: 46px;
  left: 0;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.careers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 440px;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
}

.career-body {
  position: relative;
  width: 100%;
  height: 750px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.career-background {
  position: absolute;
  width: 100%;
  height: 850px;
  top: 0;
  left: 0;
}

.image-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  object-fit: cover;
}

.careers .rectangle-2 {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  background-color: #ffffff87;
  overflow: hidden;
}

.career-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
}

.career-text {
  position: relative;
  width: 745px;
  height: 212.81px;
  margin-right: -4px;
  justify-content: center;
  align-items: center;
}

.text-8 {
  position: absolute;
  width: 611px;
  top: 0;
  left: 65px;
  font-weight: 600;
  color: #000000;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-9 {
  position: absolute;
  width: 741px;
  top: 101px;
  left: 0;
  font-weight: 500;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

.footer {
  top: 500px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 0;
  justify-content: center;
  position: relative;
  
}

.footer-scroll {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 500px;
}

.scroll {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 111px;
  height: 67px;
}

.text-wrapper-31 {
  position: absolute;
  width: 109px;
  top: 0;
  left: 0;
  font-weight: 500;
  color: #6a6868;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}

.solar-round-double {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 37px;
}

.footer-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.footer .frame-4 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  position: relative;
  justify-content: space-between;
  flex: 0 0 auto;
}


.footer .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  top: 6px;
  position: relative;
  flex: 0 0 auto;
}

.footer .div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.footer .BLHH-logo-2 {
  height: 53px;
  object-fit: cover;
  float: left;
  position: relative;
  width: 169px;
}

.text-wrapper-32 {
  position: relative;
  width: fit-content;
  font-weight: 400;
  font-style: italic;
  color: #6a6868;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 37px;
  white-space: nowrap;
}

.text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: #ce8f8f;
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.social-media-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icons {
  width: 35px;
  width: 35px;
}

.navbar_links {
  padding: 4px 16px;
  text-decoration: none;
  font-weight: 500;
  color: var(--masala);
  font-size: 20px;
}

.footer .contact-us-text {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-34 {
  position: relative;
  width: fit-content;
  margin-top: 15px;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-35 {
  position: relative;
  width: fit-content;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-36 {
  position: relative;
  width: 258px;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.social-handles {
  position: relative;
  width: 229px;
  margin-top: -1px;
  font-weight: 500;
  color: #ce8f8f;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.social-media-icons {
  position: relative;
  margin-top: 14px;
  flex: 0 0 auto;
}

.footer-bottom {
  position: relative;
  width: 100%;
  height: 55px;
}

.footer-line {
  width: 100%; /* This makes the line span the entire width of the footer */
  height: 2px; /* Adjust the line height as needed */
  background-color: #DEB6CB; /* Line color */
  position: absolute;
  top: 0;
  left: 0;
}

.footer-bottom-2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  top: 26px;
  left: 0;
}

.text-wrapper-37 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: #6a6868;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 795px;
}

.privacy {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.text-wrapper-38 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-39 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: #403e3e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

@media (max-width: 1550px) {
  .header ul li a {
    font-size: 16px;
  }
  
  main .welcome-text {
    width: 530px;
    height: 290px;
  }
  
  main .text-1,
  .span {
    width: 530px;
    left: 0;
    top: 12px;
    font-size: 32px;
  }
  
  main .p {
    width: 530px;
    left: 0;
    top: 133px;
    font-size: 18px;
  }

  .box .betterlife-home {
    font-size: 32px;
  }

  .box .div,
  .about-us-2 .text-wrapper-6,
  .about-us-2 .text-wrapper-10,
  .about-us-2 .text-wrapper-11,
  .about-us-2 .text-wrapper-9,
  .about-us-2 .we-understand-that,
  .box .p, .our-services .text-wrapper-14,
  .text-6, .text-7, .header .text-wrapper-2,
  .header .text-wrapper-3, .text-3,
  .text-wrapper-40, .text-5, .text-wrapper-32, .text-wrapper-33,
  .text-wrapper-34, .text-wrapper-35, .text-wrapper-36, 
  .text-wrapper-37, .text-wrapper-38, .text-wrapper-39, 
  .text-wrapper-31, .button 
   {
    font-size: 18px;
  }

  .text-9 {
    font-size: 18px;
    top:80px;
  }

  .other-services {
    gap: 70px;
  }

  .box .about-us-text {
    gap: 42px;
  }

  .about-us-1 {
    height: 870px;
  }

  .about-us-2 .text-wrapper-5, 
  .text-4 {
    font-size: 32px;
    top: 5px;
  }

  .our-services .text-wrapper-12 {
    font-size: 32px;
    top: 5px;
    width: 370px;
  }
 
  .about-us-2 .point-2 {
    left: 0;
  }

  .about-us-2 .left-content-heading {
    height: 48px;
  }

  .about-us-2 .we-understand-that-wrapper {
    width: 788px;
  }

  .contact-us {
    top: 290px;
  };

  .about-us-2 .we-understand-that {
    left: 79px;
  }

  .about-us-2 .text-wrapper-9 {
    left: 105px;
  }

  .heading {
    gap: 0;
  }

  .our-services .body-text {
    width: 610px;
    font-size: 18px;
  }

  .our-services .text-wrapper-13  {
    width: 265px;
    font-size: 18px;
  }

  .our-services .body-heading,
  .text-8 {
    width: 610px;
    font-size: 24px;
  }

  .our-services .frame-text-group {
    position: relative;
    width: 610px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-us .button-text {
    width: 140px;
    height: 79px;
  }

  .careers {
    top: 380px;
  }

  .career-text {
    height: 160px;
  }

  .image-2 {
    height: 700px;
  }

  .our-services .pecks {
    gap: 30px;
  }

  .footer-scroll {
    top: 400px;
  }

  .contact-us .button-content-wrapper {
    width: 260px;
    height: 80px;
  }

  .contact-us .button-content {
    top: 2px;
    left: 41px;
  }

  .footer {
    top: 430px;
  }

}

@media (max-width: 1479px) {

  .about-us-2 .div-2 {
    left: 2%;
  }

  .about-us-2 .text-wrapper-10 {
    width: 540px;
  }

  .about-us-2 .overlap-group-3 {
    width: 690px;
  }

  .about-us-2 .text-wrapper-5, 
  .text-4 {
    font-size: 28px;
    top: 5px;
  }

  .about-us-2 .right-side {
    width: 725px;
  }

  .our-services .text-wrapper-12 {
    font-size: 28px;
    top: 9px;
    width: 340px;
  }

  .about-us-2 .point-2 {
    left: 0;
  }

  .about-us-2 .left-content-heading {
    height: 48px;
  }

  .about-us-2 .we-understand-that-wrapper {
    width: 710px;
  }

  .about-us-2 .we-understand-that {
    left: 100px;
    width: 560px;
  }

  .about-us-2 .text-wrapper-9 {
    left: 105px;
  }
}

@media (max-width: 1420px)  {
  .box .about-us-heading {
    width: 550px;
  }

  .box .about-us-text {
    gap: 15px;
    top: -13px
  }

  .box .about-us-body {
    gap: 36px;
  }

  .box .betterlife-home {
    width: 440px;
  }

  .our-services .frame-text-group,
  .our-services .body-text,
  .our-services .body-heading {
    width: 570px;
  }

  .our-services .left-wing {
    width: 246px;
  }

  .item-2,
  .our-services .item  {
    gap: 12px;
  }

  .our-services .pecks {
    gap: 20px;
    width: 575px;
  }

  .our-services .div-3 {
    width: 238px;
  }
}

@media (max-width: 1360px) {
  main .welcome-content {
    top: 27%;
    left: 11%;
}

.about-us-2 {
  flex-direction: column;
}

 .about-us-2 .div-2 {
   width: 100%;
  align-items: center;
  left: 0;
}

 .about-us-2 .text-wrapper-6 {
   width: 90%;
   text-align: center;
  }

 .our-services .body-text,
 .our-services .pecks,
 .our-services .frame-text-group,
 .our-services .body-heading {
   width: 526px;
  }

  .our-services .text-wrapper-13,
  .our-services .div-3_2 {
    width: 240px;
  }

  .our-services .pecks {
    gap: 0px;
  }

  .other-services-body {
    width: 1000px;
  }
}

@media (max-width: 1300px) {
 .our-services .body-text,
 .our-services .pecks,
 .our-services .frame-text-group,
 .our-services .body-heading {
   width: 494px;
  }

  .our-services .div-3, 
  .our-services .div-3_2,
  .our-services .right-wing,
  .our-services .left-wing
   {
    gap: 20px
  }

  .our-services .pecks {
    top: 16px;
  }

  .box .about-us-body {
    width: 507px;
  }

  .our-services .div-3 {
    width: 227px;
  }

  .our-services .left-wing,
  .our-services .div-3_2 {
    width: 240px;
  }

  .box .betterlife-home {
    width: 523px;
  }

  .line{
    display: none;
  }

  .other-services-body {
    width: 960px;
  }

  .our-services .icon-park {
    width: 26px;
    height: 26px;
  }

  .image-2,
  .careers .rectangle-2 {
    height: 645px;
  }

  .footer-scroll {
    top: 360px;
  }

  .footer {
    padding: 0px 0;
  }
}

@media (max-width: 1230px) {
.about-us-1 {
    flex-direction: column;
  }

  .box .div, .about-us-2 .text-wrapper-6, 
  .about-us-2 .text-wrapper-10, .about-us-2 .text-wrapper-11, 
  .about-us-2 .text-wrapper-9, .about-us-2 .we-understand-that,
  .box .p, .our-services .text-wrapper-14, .text-6, .text-7, 
  .header .text-wrapper-3, .text-3, 
  .text-wrapper-40, .text-5, .text-wrapper-32, .text-wrapper-33, 
  .text-wrapper-34, .text-wrapper-35, .text-wrapper-36, 
  .text-wrapper-37, .text-wrapper-38, .text-wrapper-39, 
  .text-wrapper-31, .button {
    font-size: 16px;
    line-height: 36px;
  }

  .our-services .body-text,
  .our-services .text-wrapper-13 {
    font-size: 16px;
  }

  .box .about-us-body {
    width: 450px;
  }

  main .welcome-text {
    width: 465px;
  }

  .box .betterlife-home {
    font-size: 28px;
    width: 450px;
  }

  .box .about-us-heading {
    width: 446px;
  }

  .box .text-wrapper-2 {
    font-size: 24px;
  }

  .about-us-2 .text-wrapper-6 {
    width: 68%;
  }
}

@media (max-width: 780px) {
  main .text-1, .span {
    font-size: 26px;
  }

  main .welcome-content {
    top: 15%;
}

.about-us-2 .div-2 {
  width: 590px;
}

.about-us-2 .text-wrapper-6 {
  width: 657px;
}

.our-services .frame-card {
  height: 500px;
  width: 580px;
}

.frame-3 {
  top: 50px;
  gap: 40px;
}

.other-services-body {
  width: 694px;
  height: 295px;
}

.wings {
  gap: 15px;
}

.text-5 {
  width: 600px;
}

.contact-us-content {
  gap: 38px;
}

.contact-us .button-content {
  left: 18px;
}

.contact-us .button-content-wrapper {
  width:
  214px;
}

.text-9 {
  width: 480px;
}

.career-text {
  width: 480px;
  height:  190px;
}

.text-8 {
  width: 480px;
  left: 0;
}
}

@media only screen and (max-width: 480px), 
only screen and (max-device-width: 480px) {
  .header {
    width: 100%;
  }

  main .welcome-content {
    left: 5%;
}

  body {
    margin: 0;
    overflow-x: hidden;
}

main .container img {
    margin-top: 90px;
    width: 200%;
}

main .p {
  width: 350px;
  font-size: 16px;
}

.header .logo img {
    margin-left: 9%;
}

main .welcome-content {
  width: 335px;
}
main .welcome-text {
  width: 424px;
  height: 340px;
  top: 40px;
}

main .text-1{
  width: 335px;
  text-align: justify;
  font-size: 22px;
  left: 60px;
}

main .p {
  width: 335px;
  text-align: justify;
  font-size: 16px;
  left: 60px;
}

.box .betterlife-home {
  font-size: 22px;
  width: fit-content;
  text-align: center;
}

.box .text-wrapper-2,
.about-us-2 .text-wrapper-5 {
  font-size: 22px;
}

.box .about-us-heading {
  width: 647px;
}

.about-us-1 {
  height: 1358px;
  margin: 12px;
}

.box .div, .box .p, .box .about-us-heading {
  width: auto;
  line-height: 34px;
}

.about-us-2 .text-wrapper-6 {
  width: auto;
  line-height: 34px;
}

.box .our-mission {
  top: 240px;
}

.box .about-us-text {
  top: 360px;
}

.box .line,
.about-us-2 .line,
.about-us-2 .right-side  {
  display: none;
}

.about-us-2 .text-wrapper-5 {
  left: 0;
}


.about-us-1 .left-pane {
  height: 25%;
}

.about-us-2 .div-2 {
  width: 344px;
  left: 0px;
  gap:10px;
  top: 14px;
}

.point-3 {
  right: 155px;
}

.about-us-2 .overlap-group-3 {
  width: 610px;
}

.our-services .text-wrapper-12 {
  font-size: 22px;
  width: fit-content;
}

.our-services .line-2 {
  display: none;
}

}